*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  
    
}
button{
    position: fixed;
    bottom: 10%;
    left: 15%;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
}
button:active{
    scale:0.95
}

#home{
    position: fixed;
    bottom: 10%;
    left: 80%;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
}
#home:active{
    scale:0.95
}