*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  
    
}
#shadow{
    position: fixed;
    bottom: 10%;
    left: 12%;
    padding: 1.2rem;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 10px;
    display: none;
    font-weight: 600;
}
#shadow:active{
    scale:0.95
}

#home{
    position: fixed;
    bottom: 10%;
    left: 47%;
    padding: 1.2rem;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: 600;
}
#home:active{
    scale:0.95
}